<%- include('../Partial/head.ejs') %>
<%- include('../Partial/header.ejs') %>


<div class="body-wrapper">
  <div class="container-fluid" style="padding-top: 150px !important;">






    <div class="card card-body" style="padding-top: 20px !important;">
      
      <div class="px-2 py-2 border-bottom">
         <h5 class="card-title fw-semibold mb-0">Edit A Teacher Timing Slot</h5>
       </div>


         <form action="/TeacherTimeSlotDetail/setTeacherTimeSlotDetail" method="post">

          <input type="hidden" name="TeacherTimeSlotDetailID" value="<%= data[0].TeacherTimeSlotDetailID %>">



            <div class="row mt-5">
        <div class="form-group col-md-6">
         <label for="Start">Starting Time</label>
         <input required value="<%= data[0].StartTime %>" name="StartTime" class="form-control" id="Start"  placeholder="Select time" type="time">


        </div>

        <div class="form-group col-md-6">
         <label for="End">Ending Time</label>
         <input required value="<%= data[0].EndTime %>" name="EndTime" class="form-control" id="End"  placeholder="Select time" type="time">


        </div>


      </div>



                  
    <div class="row mt-3">
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button type="submit" class="btn waves-effect waves-light btn-secondary">
          Save
        </button>

      </div>
    </div>

   </form>

  </div>

</div>
</div>




<%- include('../Partial/footer.ejs') %>