<%- include('../Partial/head.ejs') %>
<%- include('../Partial/header.ejs') %>


<div class="body-wrapper">
  <div class="container-fluid" style="padding-top: 150px !important;">


    <div class="card card-body" style="padding-top: 20px !important;">


        <form action="/TeacherSubjectDetail/setTeacherSubjectDetail" method="post">

            <div class="row">
               

                <input type="hidden" name="TeacherID" value="<%=data[0].TeacherID%>"class="form-control">

<input type="hidden" name="DepartmentID" value="<%= data[0].DepartmentID %>" >



              <div class="form-group col-md-4">
                <label for="inputState">Course<span class="text-danger ml-1">*</span></label>
                <select onchange="BindSubject()" name="CourseID" id="CourseID" class="form-control" required>
                  <option disabled selected>--Select Couse--</option>

                  <% for(c of courses){ %>
                    <option  value=" <%= c.CourseID %> "><%= c.CourseName %></option>

                  <% } %>

                </select>
                <span id="de" class="text-danger ml-1"></span>
              </div>



              <div class="form-group col-md-4">
                <label for="inputState">Subjects<span class="text-danger ml-1">*</span></label>
                <select required name="SubjectID" id="SubjectID" class="form-control" >
                  <!-- <option  selected >--Select Subjects--</option>

                  <% for(s of subjects){ %>
                    <option  value="<%= s.SubjectID %>"><%= s.SubjectName %></option>

                  <% } %> -->

                </select>
                <span id="de" class="text-danger ml-1"></span>
              </div>






            </div>


            
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button type="submit" class="btn waves-effect waves-light btn-secondary">
            Save
          </button>
  
          <button onclick="cancle()" type="button" class= "ms-3 btn mb-1 waves-effect waves-light btn-rounded btn-danger">
            Cancle
          </button>
        </div>
      </div>


        </form>

        </div>


    
</div>

</div>


<script>
  function cancle(){
    window.location.href = "/addTeacherSubjectDetail"
  }

    function BindSubject(){

let CourseID = $("#CourseID").val();
if (CourseID != "") {
    $.ajax({
        async: false,
        url: '/BindSub/' + CourseID,
        success: function (res) {

            if (res.data.length > 0) {
                $("#SubjectID").empty();
                $("#SubjectID").append($("<option></option>").val("").html('---Select Slot---'));
                $.each(res.data, function (data, value) {
                    
                    $("#SubjectID").append($("<option></option>").val(value.SubjectID).html(value.SubjectName));
                });
            } else {
                $("#SubjectID").empty();
                $("#SubjectID").append($("<option></option>").val("").html('---Select Slot Name---'));
            }
        },
        error: function (xhr, status, error) {
            $("#SubjectID").empty();
            $("#SubjectID").append($("<option></option>").val("").html('---Select Slot Name---'));
            alert(error);
        }
    })
}

}


</script>



<%- include('../Partial/footer.ejs') %>